body {
  background-color: white;
  color: black;
  text-indent: 2px;
  font-size: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
}

div.cookingTime {
  margin-left: 26px;
}

#banner {
  background-color: black;
  height: 20%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

h1 {
  margin-top: 70px;
  margin-bottom: 5px;
}

#pancakes {
  position: absolute;
  top: 150px;
  left: 900px;
  margin: 0 0 0 15px;
}

#logo {
  position: absolute;
  bottom: 450px;
  left: 0px;
  margin: 0 0 0 15px;
}

#title_section {
  background-color: rgb(209, 223, 224);
}
