body {
  background-color: rgb(255, 255, 255);
  font-size: 20px;
}

p {
  font-size: 10cm;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

h1 {
  text-indent: 50px;
}

#hp {
  float: left;
  margin: 10 10 200 15px;
}
