body {
  background-color: rgb(255, 255, 255);
  font-size: 20px;
}

h1 {
  text-indent: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
}

#hp {
  float: left;
  margin: 10 10 200 15px;
}

#title_section {
  background-color: rgb(209, 223, 224);
}
