body {
  background-color: white;
  color: black;
  text-indent: 2px;
  font-size: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.header {
  background-color: black;
  width: 100%;
  height: 10%
}

.navigation_bar {
  position: top;
  width: 100% auto;
  height: 13vh;
  background-color: black;
  margin: -0.4% 0 0 -10%; /* top, right, bottom, left */
}

.navigation_bar ul {
  margin: 0; 
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.navigation_bar li {
  display: inline-block;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: right;
}

.navigation_bar li a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  padding: 0.3em 2em;
  border-left: 1px solid rgba(255, 255, 255, 1);
  margin: 0 0 0 120%; /* top, right, bottom, left */
}

.navigation_bar ul li a:hover {
  background-color: rgb(255, 255, 224, 0.8);
}

#logo {
  position: top;
  width: 8.1%;
  height: 10%;
  margin: -9.5% 0 0 0%; /* top, right, bottom, left */
  position: relative;
  vertical-align: middle;
  display: inline;
}

#page_title {
  background-color: rgb(209, 223, 224);
}

#main_heading {
  position: relative;
  vertical-align: middle;
  display: inline;
}

#pancake_stack {
  vertical-align: right;
  float: right;
  display: inline;
  width: 25%;
  height: 50%;
  margin: -1.5% 10% 0% 0%; /* top, right, bottom, left */
}

.top_section_style{
  float: left:
}

#jack_black_link {
  margin-left: 0.25%;
}

.recipe_info {
  vertical-align: middle;
  display: inline;
}


#recipe_info_cooking {
  vertical-align: middle;
  display: inline;
  margin-left: 1.6%;
}

.recipe_info_image {
  vertical-align: middle;
  width: 1%;
  height: 1%;
}

/* Nutrition Table Style: Start */
table {
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  border: 1px solid black;
  background-color: rgb(255, 255, 224);
  padding: 8px;
}

thead th {
  width: 25%;
}
/* Nutrition Table Style: End */

.video {
  width: 60%;
  height: 30%;
}

