body {
  background-color: white;
  color: black;
  text-indent: 2px;
  font-size: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
}

div.cookingTime {
  margin-left: 26px;
}

#banner {
  background-color: black;
  height: 10000%;
  position: relative;
  width: 10000000%;
  margin-top: 50px;s
  margin-left: 500px;
  margin-bottom: 10px;
}

h1 {
  margin-top: -500px;
  margin-bottom: 1px;
}

#pancakes {
  position: relative;
  top: -70px;
  left: 850px;
  margin: 0 0 0 15px;
}

#logo {
  position: relative;
  bottom: 50px;
  left: 0px;
  margin: 0 0 0 1px;
}

#title_section {
  background-color: rgb(209, 223, 224);
}
